<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>email</th>
            <th>dob</th>
            <th>age</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr th:each = "student:${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.Name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.dob}"></td>
            <td th:text="${student.age}"></td>
            <td><a th:href="@{/edit/{id} (id=${student.id})}">edit</a></td>
            <td><a th:href="@{/delete/{id} (id=${student.id})}">delete</a></td>
        </tr>
    </table>
</body>
</html>